<div class="container">
  <div class="col-10">
    <%= form_with(model: @reservation, local: true) do |form| %>
    <div class="form">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    <div class="time">
      <%= form.label :start_date %>
      <%= form.datetime_select :start_date %>
    </div>
    <div class="submit">
      <%= form.submit %>
    </div>
    <% end %>
  </div>
</div>