<div class="container">
  <div class="book-box mt-5">
    <h3>BOOK一覧 ＆ 登録ページ</h3>
    <% @books.each do |books| %>
    <p>タイトル:<%= book.title %></p>
    <p>内容:<%= book.body %></p><br>
    <% end %>
  </div>
  <div class="new-book">
    <h1>新規投稿</h1>
    <%= form_with model: @book, local:true do |f| %>
      <h4>タイトル</h4>
      <%= f.text_field :title %>
      <h4>本文</h4>
      <%= f.text_area :body %>
      <%= f.submit '投稿' %>
    <% end %>
  </div>
</div>